# editorconfig.org
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false

[*.{sh,py,pyi,xml,css,scss,hbs,html}]
indent_size = 4

[*.{js,json,ts}]
indent_size = 4
max_line_length = 100

[*.{py,pyi}]
max_line_length = 120

[*.{svg,rb,pp,yaml,yml}]
indent_size = 2

[package.json]
indent_size = 2
